body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h1, h2, h3, h4 {
    margin: 3px;
}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding: 3px;
    margin: 2px;
    cursor: pointer;
}

input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    padding: 3px;
    margin: 2px;
}

.player_name {
    float: left;
    width: 49.5%;
    margin: 0.25%;
    font-size: xx-large;
}

/* SCOREBOARD */
.name_cell {
    padding: 5px;
    margin-top: 3px;
    font-size: x-large;
    text-wrap:none;
    overflow-wrap:break-word;
    overflow-x:hidden;
}

.points_bar {
    font-size: larger;
    border: 1px solid black;
}

#threshold {
    position: absolute;
    z-index: -1;
    padding: 5px;
    margin-top: -40px;
    background-color: fuchsia;
    background-image: -moz-linear-gradient(left, fuchsia, white);
    background-image: -o-linear-gradient(left, fuchsia, white);
    background-image: -webkit-gradient(linear, left right, from(fuchsia), to(white));
    background-image: linear-gradient(to right, fuchsia, white);
    font-size: x-large;
}

/* TALLY-UP */
#tally_up {
    position: fixed;
    max-height: 90%;
    top: 50%;
    left: 50%;
    width: 70%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    z-index: 32;
    overflow-y: scroll;
}

.player_button {
    float: left;
    width: 49.5%;
    margin: 0.25%;
    font-size: x-large;
    border: none;
}

.player_button:disabled {
    cursor: not-allowed;
}

.player_button span {
    margin: 0px;
    font-size: medium;
}

/* END CARDS */

#end_card {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
}

#end_chart {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 5px;
}

#end_chart button {
    font-size: large;
    padding: 5px;
}

/* OTHER */

#config {
    position: absolute;
    right: 0;
    top: 0;
}

#github {
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    padding: 7px;
    color: rgba(220, 220, 220, 1);
    background: rgba(36, 41, 46, 1);
    border-radius: 3px;
    border: 2px solid rgba(63, 68, 72, 1);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: fadein;
    transition: color 0.5s, border-color 0.5s, background-color 0.5s;
}

    #github:hover {
        color: white;
        background-color: rgba(63, 68, 72, 1);
        border-color: white;
    }

#modal_container {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 42;
    text-align: center;
}